.card-program .stretched-link {
  z-index: 99;
}

.card-program .card-body {
  column-gap: 2rem;
}

.card-program__title-wrap {
  overflow: hidden;
  gap: 0.75rem;
}

.card-program__title {
  overflow: hidden;
  white-space: nowrap;
  text-transform: none;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.35;
}

.card-program__line {
  --line-height: 0.0625rem;
  --line-width: 1rem;
  --line-transition-duration: 0.35s;
  --line-transition-easing: ease;

  width: 0;
  height: var(--line-height);
  transition: width var(--line-transition-duration) var(--line-transition-easing);
  background: var(--bs-secondary-color);
}

.card-program:hover .card-program__line,
.card-program:focus-within .card-program__line {
  width: var(--line-width);
}

@media (prefers-reduced-motion: reduce) {
  .card-program__line {
    transition: none;
  }
}

.card-program__col {
  color: var(--bs-body-color);
  font-size: 1.25rem;
}
